!!! 5
html
  head
    meta(charset="utf-8")
    title Node Gameroom
    link(rel="stylesheet", href="/css/app.css")    
    script(src:"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src:"/js/json.js")
    script(src:"/js/socketio/socket.io.js")
    script(src:"/js/room.js")
  body#gameroom
    #wrap!= body
