h1 This is a game room
p Open me in two browser windows.
#log
script
  | ;(function(){
  |   var log = document.getElementById("log");
  |   room.bind("gameplayerid gamejoin gamecountdown gamestart gametimer gameover", function(eventType){ 
  |     var div = document.createElement("div");
  |     div.innerHTML = "<b>"+ eventType + "</b>: " + Array.prototype.slice.call(arguments, 1).join(", "); 
  |     log.appendChild(div);
  |   });
  |   room.join()
  | })()
